*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle{
    width: 0;
    height: 0;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 130px solid green;
    margin-bottom: -40px;
}
.triangle:first-child{
    transform: scale(0.7);
}

.triangle:nth-child(2){
    transform: scale(0.9);
}

.ball{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: linear-gradient(blueviolet, green);
    transform: translateX(50%);
    animation-name: ball;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes ball{
    0%{
    transform: translateX(50%);
    transform: translateX(blueviolet);
    }
    30%{
        transform: translateX(-50%);
        transform: translateX(blue);
    }
    70%{
        transform: translateX(-100%);
        transform: translateX(red);
    }
}

