* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d0237;
    height: 100vh;
    animation: boy;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border {
    width: 350px;
    height: 350px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    border-radius: 50%;
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
@keyframes border{
    0%{
        background-color: red;
        transform: scale(1.5);
        transform: rotate(15deg);
    }
    33%{
        background-color: blue;
        transform: scale(1.05);
        transform: rotate(30deg);
    }
    66%{
        background-color: purple;
        transform: scale(1.5);
        transform: rotate(-15deg);
    }
    100%{
        background-color: white;
        transform: scale(1.05);
        transform: rotate(-30deg);
    }
}

.btn {
    padding: 50px;
    border-radius: 50%;
}
@keyframes boy{
    0%{
        background-color: rgb(16, 168, 34);
        transform: scale(1.5);
        transform: rotate(15deg);
    }
    33%{
        background-color: rgb(225, 46, 216);
        transform: scale(1.05);
        transform: rotate(30deg);
    }
    66%{
        background-color: rgb(63, 12, 97);
        transform: scale(1.5);
        transform: rotate(-15deg);
    }
    100%{
        background-color: rgb(10, 10, 10);
        transform: scale(1.05);
        transform: rotate(-30deg);
    }
}