*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000480;
    height: 100vh;
    animation-name: body;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.border{
    width: 350px;
    height: 350px;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 200px;
    border-radius: 50%;
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes border {
    0%{
        background-color: rgb(255, 255, 255);
        transform: scale(1.1);
        transform:rotate(15deg)
    }
    33%{
        background-color: rgb(0, 0, 0);
        transform: scale(1.05);
        transform:rotate(30deg)
    }
    66%{
        background-color: rgb(247, 245, 248);
        transform: scale(1.1);
        transform:rotate(-15deg)
    }
    100%{
        background-color: rgb(16, 0, 0);
        transform: scale(1.05);
        transform:rotate(-30deg)
    }
    
}
@keyframes body {
    0%{
        background-color: rgb(0, 7, 2);
        
    }
    33%{
        background-color: rgb(242, 242, 246);
        
    }
    66%{
        background-color: rgb(1, 9, 8);
       
    }
    100%{
        background-color: rgb(238, 250, 241);
      
    }
    
}

.btn{
    padding: 50px;
    border-radius: 50%;
    height: 120px;
    margin-top: 110px;
}